#navb {
    font-size: 5vh;
    margin-left: 20vw;
}

nav {
    box-shadow: 4px 4px 5px silver;
}

.material-icons {
    padding-top: 1vh;
}

.material-icons.md-36 {
    font-size: 36px;
    padding: 1px;
}

#navContainer {
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
}

.container {
    margin-bottom: 20vh;
}

.nav-item {
    padding: 0 2vh;
}
/* NAVBAR DONE */

.material-icons.md-48 {
    font-size: 24rem;
    color: green;
}

#icon-container{
    text-align: center;
    padding-bottom: 6rem;
}

#icon-container > p{
    font-size: 2.5rem;
}

.footer-copyright {
    background-color: #15202b;
    color: beige;
}

div > p {
    font-size: 0.9rem;
} 

p > a{
    color: beige;
    text-decoration: none;
}

p > a:hover{
    text-decoration: none;
}